body
{
	background-color:#801224;
}

#title
{
	color:#fbff19;
	text-align:center;
}

#time_header
{
	color:#f0f261;
	text-align:center;
}

#location_header
{
	color:#f0f261;
	text-align:center;
}

p
{
	color:#fcf9f7;
	text-align:center;
}

#location_div
{
	background-color:#1c1b1a;
	opacity:0.8;
	border-radius:10px;
	padding:50px 0px;
	margin:20px 60px;
}

.table_header
{
	color:#33e607;
	font-size:25px;
	width: 600px;
}
#parent_div
{
	margin:50px 60px;
}
#left_div
{
	background-color:#1c1b1a;
	opacity:0.8;
	border-radius:10px;
	float:left;
	width:49%;
}

#right_div
{
	background-color:#1c1b1a;
	opacity:0.8;
	border-radius:10px;
	float:right;
	width:49%;
}

#temperature_header
{
	color:#f595eb;
	text-align:center;
}

#humidity_header
{
	color:#8ae7eb;
	text-align:center;

}